body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffafbd, #ffc3a0, #ff677d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    width: 400px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

label {
    color: #555;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #ff677d;
    box-shadow: 0 0 5px rgba(255, 103, 103, 0.5);
    outline: none;
}

button {
    background-color: #ff677d;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d9546d;
}

.error {
    border-color: #e74c3c;
}

.success {
    border-color: #2ecc71;
}

p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #e74c3c;
    display: none;

}

.form-group.error p {
    display: block;
}

.form-group.success p {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.anchor{
    text-decoration: none;
    color: black;
}